
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: white;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.btn-contato button{
    color: white;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #a84849;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #a84849;
    transform: scale(1.08);
}

h2.titulo{
    color: black;
    font-size: 40px;
    text-align: center;
}

/* ESTILO CABECALHO */
header{
    padding: 25px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: black;
    transform: scale(1.08);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    font-size: 20px;
}


/* ESTILO TOPO DO SITE */

section.topo-do-site{
    padding: 40PX 4%;
}   

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .btn-contato{
    text-align: center;
}

.topo-do-site h1{
    color: black;
    font-size: 50px;
    line-height: 40px;
    text-align: center;
}

.topo-do-site h3{
    color: black;
    font-size: 30px;
    text-align: center;
}

.topo-do-site .txt-topo-site p{
    color: black;
    margin: 40px 0;
    text-align: justify;
}

/* ESTILO SOBRE */
section.sobre{
    padding: 100px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: black;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

/* ESTILO DO CEO */
section.CEO{
    padding: 40PX 4%;
}   

section.CEO .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}


.CEO h1{
    color: black;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}

.CEO h3{
    color: black;
    font-size: 20px;
    text-align: center;
}

.CEO .txt-CEO p{
    color: black;
    margin: 40px 0;
    text-align: justify;
}

/* ESTILO DOS SERVIÇOS */
section.serviços{
    padding: 40px 4%;
}

section.serviços .serviços-box{
    color: black;
    padding: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section.serviços .serviços-box p{
    text-align: justify;
    margin: 20px 0;
}

/* ESTILO DOS CONTATOS */
section.contatos{
    padding: 40px 4%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section.contatos .contatos-box{
    color: black;
    padding: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section.contatos .contatos-box p{
    text-align: center;
    margin: 20px 0;
}

section.contatos .contatos-box p span{
    display: block;
}

.contatos .contatos-box .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 60%;
    border: none;
    background-color: #a84849;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer{
    padding: 30px 4%;
    box-shadow: 0 0 40px 10px rgba(107, 107, 107, 0.231);
    text-align: center;
}

footer .line-footer p{
    font-size: 20px;
}

footer .line-footer-baixo p{
    font-size: 10px;
}

footer .line-footer-baixo a{
    color: black;
    text-decoration: none;
}